
/*************** TAG SELECTORS ***************/

body {
  background-color: #F9F9F9;
  margin: 0;
  text-align: center;
  font-family: 'Nunito', sans-serif;
}

h1 {
  margin-top: 0;
  font-size: 9vw;
  margin-left: 30px;
  margin-right: 30px;

}


h2 {
  font-size: 3.0vw;
}

h3 {
  font-size: 1.5vw;
  text-align: left;
  margin-top: 30%;
  margin-bottom: 30%;
}


hr {
  border-style: dashed dashed none none;
  width: 3%;
  /*height: 0px; */
  border-color: #58DD94;
  border-width: 5px;
  border-radius: 10px 100px / 120px;
  margin-top: 10%;
  margin-bottom: 10%;
}

img {

  width: 43%;
  height: auto;
  margin: 10px;


}


p {
  text-align: left;
  line-height: 2;
}
/*************** CLASS SELECTORS ***************/

.top-container {
  background-color: #58DD94;
  font-family: 'Nunito', sans-serif;
  color: #FFFF;
  position: relative;
  left: 50px;
  width: calc(100% - 100px);
  border-radius: 10px;
  height: 70%;



}

.middle-container {
  width: 70%;
  margin: auto;
}

.bottom-container {
  background-color: #58DD94;
  font-family: 'Nunito', sans-serif;
  color: #FFFF;
  border-radius: 10px;
  font-size: 1vw;
  padding: 30px 0 10px;
}

.skill-row1 {
  width: 60%;
  margin: auto;

  font-size: 2.0vw;


}

.skill-row2 {
  width: 60%;
  margin: auto;

  font-size: 2.0vw;

}

.subtitle {
  margin-top: 10%;
  margin-bottom: 10%;
  font-size: 2.3vw;
  text-align: center;

}

.binary-code {

  width: 35%;


  margin: 10%;
  /**
  margin-top: 0px;
  margin-left: 0px;
  margin-bottom: 0px; **/


}

.promotion {

  width: 35%;
  margin: 10%;


}

.profile {

  width: 50%;
  margin: auto;
}

.contact-me {

  width: 60%;
  margin: auto;

  font-size: 2.0vw;
}

.BUTTON_RDV {
   -webkit-border-radius:  2.0vw;
   -moz-border-radius:  2.0vw;
   border-radius: 2.5vw;
   color: #FFFF;
   font-family: 'Nunito', sans-serif;
   font-size: 2.0vw;
   font-weight: 100;
   padding:  2.5vw;
   background-color: #58DD94;
   border: solid #58DD94 0;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
   margin: 3% 2% 10% 2%;
   max-width:300%;
   max-height:300%;

}

.BUTTON_RDV:hover {
   background: #020412;
   border: solid #01041A 1px;
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   text-decoration: none;
   color: #FFFF;
}

.bottom-container-hyperlinks {
  color: #FFFF;
  margin: 15px;
  font-size: 1.8vw;
  text-decoration: none;
  position: relative;


}

.bottom-container-hyperlinks:hover {
   color: black;

}

.copyright-logomark {
  margin:  auto 60px;
}
/*************** ID SELECTORS ***************/
#primary-graphic {

  max-width:300%;
  max-height:300%;
  position: relative;
  top: 15px;
}

#primary-subtitle {
  text-align: center;
  font-size: 2.5vw;
}
#footer-heading {
  font-size:  2.5vw;
}

#intro-subtitle {
  text-align: center;
  font-size: 2.0vw;
  margin-top: 10%;
  margin-bottom: 10%;
}

#middle-container-subtitle {
  position: relative;

  font-size: 2.5vw;
}

#primary-hr {
  border-style: dashed dashed none none;
  width: 3%;
  /*height: 0px; */
  border-color: #58DD94;
  border-width: 5px;
  border-radius: 10px 100px / 120px;
  margin-top: 10%;
  margin-bottom: 10%;

}
